<div class="row p-5">
    <div class="user-profile-view">
        <div style="width: 100%;" class="user-profile-view mb-5">
            <img src="{{image}}" alt="" style="width:200px; border-radius:50%">
        </div>
        <div>
            <fieldset disabled>
                <legend style="width: 400px; text-align:center">{{username}}</legend>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">User Name</label>
                    <input type="text" id="disabledTextInput" class="form-control" value="{{username}}">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Email</label>
                    <input type="text" id="disabledTextInput" class="form-control" value="{{email}}">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Phone Number</label>
                    <input type="text" id="disabledTextInput" class="form-control" value="{{phone}}">
                </div>
            </fieldset>
        </div>
    </div>
</div>